.group {
  display: flex;
  gap: 15px;
  align-items: center;
}

.input {
  width: 100%;
  border: 2px solid #999;
  padding: 3px 12px;
  border-radius: 8px;
  font-weight: 400;
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: scroll;
  margin-bottom: 20px;
  gap: 12px;
}
