.container {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #181818;
  margin-bottom: 3px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.info {
  margin-left: 12px;
}

.name {
  font-size: 18px;
  color: #fff;
}

.lastMessage {
  font-size: 14px;
  color: #fff;
}
