.container {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(74, 73, 73);
  margin-bottom: 3px;
  cursor: pointer;
}

.selected {
  background-color: #181818;
}

.avatar {
  border-radius: 50%;
  position: relative;
}

.image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.activeUser {
  background-color: rgb(39, 255, 39);
  height: 18px;
  width: 18px;
  border-radius: 50%;
  bottom: -3px;
  right: -4px;
  position: absolute;
}

.info {
  margin-left: 12px;
}

.name {
  font-size: 18px;
  color: #fff;
}

.lastMessage {
  font-size: 14px;
  color: #fff;
}
